<!-- STRUCTURE 6 items par ligne -->
<div class="row">
    <div class="col-12 col-lg-2">
       <!-- HTML d'1 CARD-->
       <div class="card">
          <img src="https://image.tmdb.org/t/p/w500/7WJjFviFBffEJvkAms4uWwbcVUk.jpg" class="card-img-top" alt="...">
          <div class="card-body">
             <h5 class="card-title">Card title</h5>
          </div>
       </div>
       <!-- FIN .card-->
    </div>
 
    <div class="col-12 col-lg-2">
       <!-- HTML d'1 CARD-->
       <div class="card">
          <img src="https://image.tmdb.org/t/p/w500/7WJjFviFBffEJvkAms4uWwbcVUk.jpg" class="card-img-top" alt="...">
          <div class="card-body">
             <h5 class="card-title">Card title</h5>
          </div>
       </div>
       <!-- FIN .card-->
    </div>
 
    <div class="col-12 col-lg-2">
       <!-- HTML d'1 CARD-->
       <div class="card">
          <img src="https://image.tmdb.org/t/p/w500/7WJjFviFBffEJvkAms4uWwbcVUk.jpg" class="card-img-top" alt="...">
          <div class="card-body">
             <h5 class="card-title">Card title</h5>
          </div>
       </div>
       <!-- FIN .card-->
    </div>
 
    <div class="col-12 col-lg-2">
       <!-- HTML d'1 CARD-->
       <div class="card">
          <img src="https://image.tmdb.org/t/p/w500/7WJjFviFBffEJvkAms4uWwbcVUk.jpg" class="card-img-top" alt="...">
          <div class="card-body">
             <h5 class="card-title">Card title</h5>
          </div>
       </div>
       <!-- FIN .card-->
    </div>
 
    <div class="col-12 col-lg-2">
       <!-- HTML d'1 CARD-->
       <div class="card">
          <img src="https://image.tmdb.org/t/p/w500/7WJjFviFBffEJvkAms4uWwbcVUk.jpg" class="card-img-top" alt="...">
          <div class="card-body">
             <h5 class="card-title">Card title</h5>
          </div>
       </div>
       <!-- FIN .card-->
    </div>
 
    <div class="col-12 col-lg-2">
       <!-- HTML d'1 CARD-->
       <div class="card">
          <img src="https://image.tmdb.org/t/p/w500/7WJjFviFBffEJvkAms4uWwbcVUk.jpg" class="card-img-top" alt="...">
          <div class="card-body">
             <h5 class="card-title">Card title</h5>
          </div>
       </div>
       <!-- FIN .card-->
    </div>
 </div> 