<div class="d-flex">
    <!-- ICON fleche <-
    chager grace au CSS declarer dans index.html 
    depuis https://fontawesome.com/v5.15/icons/arrow-left?style=solid -->
    <button><i class="fas fa-arrow-left"></i></button>
    <h1>Titre du film</h1> 
</div>

<div class="card">
    <iframe 
        width="560" height="315" 
        src="https://www.youtube.com/embed/RFZG_IG9EqA" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>

    <h2>Titre du film</h2>

    <p>Date de sortie 01/01/01</p>

    <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, autem aperiam adipisci saepe aliquid neque hic numquam fuga eos voluptatibus error 
    nulla illum fugit similique nam voluptas corporis deserunt itaque?
    </p>
</div>